@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* --- THÊM ĐOẠN NÀY VÀO CUỐI FILE --- */

/* Quy tắc này chọn phần tử con trực tiếp đầu tiên nằm trong thẻ main.
   Tức là cái thẻ div bao ngoài cùng của Page (Home, Matches...).
*/
main> :first-child {
  padding-top: 0.5rem;
  /* 6rem ~ 96px (tương đương pt-24) */
}

/* Ẩn icon con mắt mặc định trên Edge và Chrome */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Ẩn icon mật khẩu trên một số trình duyệt khác nếu có */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}